/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$color: #1d3557;
$color-muted: #6c757d;
$icon-size: 1rem;

.wp-block-xelonic-financial-ratio-block {
	background-color: #fff;
	color: $color;
	text-align: center;
	width: fit-content;
}

.wp-block-xelonic-financial-ratio-block .container {
	position: relative;
}

.wp-block-xelonic-financial-ratio-block a {
	color: $color !important;
	text-decoration: none !important;
}

.wp-block-xelonic-financial-ratio-block .title {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.25rem;
}

.wp-block-xelonic-financial-ratio-block .title .ticker {
	font-weight: 700;
	margin-right: 0.25rem;
}

.wp-block-xelonic-financial-ratio-block .subtitle {
	padding-top: 0.25rem;
	color: $color-muted;
}

.wp-block-xelonic-financial-ratio-block .value {
	padding-top: 0.25rem;
	color: #457b9d;
	font-size: 1.25rem;
	font-weight: 300;
}

.wp-block-xelonic-financial-ratio-block .xelonic-link {
	position: absolute;
	right: 0;
	bottom: $icon-size / 2;
	height: $icon-size;
}
